<!-- Avatar images from Unsplash. -->
<div class="content">
  <div class="row w-100">
    <div class="col-md-4 cardparent">
      <div class="card">
        <div class="protitle">Grocery Mart</div>
        <img
          src="https://images.unsplash.com/photo-1542838132-92c53300491e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80"
          alt="falcon"
          class="avatar"
        />
        <h4>NodeJS Express</h4>
        <div class="details">
          <p>Abilities or he perfectly pretended</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 cardparent">
      <div class="card">
        <div class="protitle"><div>Auction Game</div></div>
        <img
          src="https://imgeng.jagran.com/images/2023/apr/MSD31682162095377.jpg"
          alt="fox"
          class="avatar"
        />
        <h4>Next JS</h4>
        <div class="details">
          <p>Oh to as principles devonshire</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 cardparent">
      <div class="card">
        <div class="protitle"><div>BookShop</div></div>
        <img
          src="https://plus.unsplash.com/premium_photo-1669652639356-f5cb1a086976?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80"
          alt="fish"
          class="avatar"
        />
        <h4>NodeJS EJS</h4>
        <div class="details">
          <p>The our selves suffering the</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 cardparent">
      <div class="card">
        <div class="protitle"><div>E-Commerce</div></div>
        <img
          src="https://images.unsplash.com/photo-1534452203293-494d7ddbf7e0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=872&q=80"
          alt="fish"
          class="avatar"
        />
        <h4>MERN</h4>
        <div class="details">
          <p>The our selves suffering the</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 cardparent">
      <div class="card">
        <div class="protitle"><div>Portfolio</div></div>
        <img
          src="https://images.unsplash.com/photo-1516683037151-9a17603a8dc7?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQ2OTE0ODB8&ixlib=rb-4.0.3&q=85"
          alt="fish"
          class="avatar"
        />
        <h4>Angular</h4>
        <div class="details">
          <p>The our selves suffering the</p>
        </div>
      </div>
    </div>
  </div>
</div>
