<div id="live-chat">
  <div class="chat_header" (click)="toggleChat()">Help</div>
  <div class="chat" [hidden]="!isChatVisible">
    <div>
      <div class="message">Hi May I help you?</div>
    </div>
    <div class="reply"><div class="usermsg">Yes I need some helppp</div></div>
    <div class="reply"><div class="usermsg">Yes I need some help</div></div>
    <div class="reply"><div class="message">Hi May I help you?</div></div>
    <div class="reply"><div class="usermsg">Yes I need some help</div></div>
  </div>
  <div class="chat_message_counter" [hidden]="!messageCounterVisible">
    Message Counter
  </div>
  <div>
    <input class="input" *ngIf="isChatVisible" placeholder="type here" />
  </div>
  <a class="chat_close" href="#" (click)="closeChat()">X</a>
</div>
